*{
    padding: 0;
    margin: 0;
    user-select: none;
}

.name-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

/* h1.button-like {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h1.button-like:hover {
    background-color: #0056b3;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
} */


/* styles.css */

/* Existing styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    /* user-select: none; */

}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* New styles for h1 to look like a button */
h1.button-like {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h1.button-like:hover {
    background-color: #0056b3;
}


#next-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-button:hover {
    background-color: #218838;
}




input[type="number"] {
    width: 200px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


